.agregar {
    color: #2d2d2d;
    text-decoration: none;
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    margin: 10px;
    text-align: center;
    font-size: 18px;
}

.form-select {
    border: 1px solid #3c3948;
    border-radius: 5px;
    color: #3c3948;
}

.form-select option {
    color: #3c3948;
}