

.main-container {
    margin: 20px auto;
    width: 1200px;
}

h2{
    color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    text-align: center;
}

table {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 15px;
    border-collapse: collapse;
    width: 100%;

}

td, td {
    padding: 15px;
}

/* encabezado */
thead{;
    background-color: #2e518b;
    border-bottom: 5px solid #282c34;
    color: #FFFFFF;

}

tr:nth-child(even) {
    background-color: rgba(74, 144, 226, 0.2);
}


tr:hover td{
    background-color: #4a90e2;
    color: rgba(168, 185, 208, 0.8);
}


/*----*/

.agregar {
    color: #2d2d2d;
    text-decoration: none;
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    margin: 10px;
    text-align: center;
    font-size: 18px;
}

.form-select {
    border: 1px solid #3c3948;
    border-radius: 5px;
    color: #3c3948;
}

.form-select option {
    color: #3c3948;
}