

/* fondo de home */
html, body {
    background-image: url("../image/fondo_home.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* degradado */
.degradado-horizontal {
    background: linear-gradient(to right, #4b94a7, #de79f7);
}



